<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SimpleBBS</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <center>
            <h1>SimpleBBS</h1>
        </center>
        不適切なURLへのアクセスです。
        <a href="http://127.0.0.1:9998/">ホームに戻る</a>
    </body>
</html>
