.id{
    font-size: 12pt;
    color: gray;
}

.date{
    font-size: 12pt;
    color: gray;
}

.name{
    font-weight: bold;
    font-size: 12pt;
    color: #c443de;
}

.text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15pt;
}

.trans {
    font-size: 15pt;
}
.button {
    border: none;
    border-radius: 10%;
    padding: 2px 5px;
    color: #b1c5de;
    background: #2c7cde;
}
.input{
    border: none;
}
.trans a{
    color: #2c7cde;
    text-decoration: none;
}
