.id{
    font-size: 12pt;
    color: gray;
}

.date{
    font-size: 12pt;
    color: gray;
}

.name{
    font-weight: bold;
    font-size: 12pt;
    color: #c443de;
}

.text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15pt;
}
